<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--로그 파일 저장 위치 -->
	<springProfile name="dev">
		<property name="LOGS_PATH" value="./logs" />
	</springProfile>

	<springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}]-[%highlight(%-5level)]-[%class:%line]-[%method]-[%message]%n</pattern>
		</encoder>
	</appender>

	<appender name="COM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_PATH}/${APPLICATION_NAME}.%d{yyyyMMddHH}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}]-[%highlight(%-5level)]-[%class:%line]-[%method]-[%message]%n</pattern>
		</encoder>
	</appender>


	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="COM_FILE" />
	</root>

</configuration>
